/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  justify-content: center;
  align-items: center; /* Add center alignment for better vertical centering */
  position: relative; /* Ensure the container is positioned for any absolute positioning */
  overflow: hidden; /* Keep this as it was commented out, useful for potential content overflow */
  padding: 4rem 0; /* Default padding for large screens */
}

/* Media query for smaller screen sizes */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem; /* Reduced padding for smaller screens */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* More explicit than 'left' */
}

[data-theme='dark'] .hero_title {
  color: #fff; /* Hex color for better consistency */
}

.img_home {
  width: 50%; /* Ensure the width is explicitly defined */
  justify-content: flex-end; /* More explicit than 'right', ensuring better alignment */
  display: flex; /* Ensure flexbox is working correctly with the justify-content */
}
